<form [formGroup]="filtersForm" *ngIf="!loading; else spinner">
    <section class="filter">
        <h3 class="filter__title">zakres dat:</h3>
        <mat-form-field appearance="fill" (click)="picker.open()">
            <mat-label>Wprowadź zakres dat</mat-label>
            <mat-date-range-input [formArrayName]="'dateRange'" [rangePicker]="picker" >
                <input matStartDate placeholder="Start date" [formControlName]="'start'">
                <input matEndDate placeholder="End date" [formControlName]="'end'" (dateInput)="dateChangedHandler()">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker color="accent" #picker ></mat-date-range-picker>
        </mat-form-field>
    </section>

    <section class="filter">
        <h3 class="filter__title">zakres godzin:</h3>
        <app-hour-slider [formControlName]="'hourRange'" (hourRangeChanged)="hourRangeChangedHandler()"></app-hour-slider>
    </section>

    <section class="filter">
        <h3 class="filter__title">typy użytkowników:</h3>
        <mat-selection-list #list (selectionChange)="selectDisabilitiesChangedHandler()">
            <mat-list-option *ngFor="let disability of disabilitiesOptions.disabilities" [value]="disability" [selected]="true">
                {{disability.name}}
            </mat-list-option>
        </mat-selection-list>
    </section>
</form>

<ng-template #spinner>
    <div class="spinner-container">
        <mat-spinner [color]="'accent'"></mat-spinner>
    </div>
</ng-template>
